.navArt {
    /* background: #888585ac; */
    /* background: linear-gradient(90deg, #00c6ff, #0072ff); */
    background: #021938f4;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px
    ;
}
.addArtwork {
    text-decoration: none;
    border: 1px solid #fff;
    padding: 10px 20px;
    color: #fff; 
    background-image: linear-gradient(blue,blue);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    transition: background-size 500ms;
}
.addArtwork:hover {
    background-size: 100% 100%;
    background-position-x: left;
}
.artworkGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 30px;
    justify-self: center;
    align-items: center;
    gap: 50px;
    padding-bottom: 40px;
}
/* Medium screens (tablets) */
@media (max-width: 1024px) {
    .artworkGrid {
        grid-template-columns: repeat(3, 1fr); 
        gap: 30px;
    }
}

/* Small screens (mobile) */
@media (max-width: 768px) {
    .artworkGrid {
        grid-template-columns: repeat(2, 1fr); 
        gap: 20px;
    }
}

/* Extra small screens (phones) */
@media (max-width: 480px) {
    .artworkGrid {
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
    }
}
  .goToDetailPage {
    text-decoration: none;
  }  

.artworkCard {
  
    background: linear-gradient(180deg, #ffffff, #9999994f);
    max-width: 300px;
}
.artworkCard img {
    padding: 40px 40px 0px 40px;
    width: 220px;
    height: 170px;
    object-fit: cover;
    display: flex;
    margin: 0 auto;
}
.artworkInfo {
    padding: 20px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    color: #000000b2;
}
.artworkInfo p {
    padding: 5px;
    margin: 0px !important;
}
/* .artworkBtn {
    margin-top: 40px;
    display: flex;
    justify-content: end;
    gap: 5px;
} */
/* .editBtn {
    padding: 5px 20px;
    text-decoration: none;
    font-size: 12px;
    border: 1px solid blue;
    background-image: linear-gradient(darkblue, darkblue);
    background-color: blue;
    color: #fff;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    transition: background-size 500ms;
}
.editBtn:hover {
    background-size: 100% 100%;
    background-position-x: left; 
    border: 1px solid darkblue;  
}
.deleteBtn {
    padding: 5px 10px;
    font-size: 12px;
    border: 1px solid red;
    background-color: red;
    color: #fff;
    cursor: pointer;
    background-image: linear-gradient(darkred,darkred);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    transition: background-size 500ms;
}
.deleteBtn:hover {
    background-size: 100% 100%;
    background-position-x: left;  
    border: 1px solid darkred; 
} */

/*  */

.pagination {
    display: flex;
    justify-content: end;
    max-width: 1900px;
    width: 85%;
    align-items: center;
    gap: 6px;
    margin-top: 20px;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  
  .pageBtn {
    padding: 6px 12px;
    border: none;
    background-color: #eee;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .pageBtn:hover {
    background-color: #ccc;
  }
  
  .activePage {
    background-color: #333;
    color: white;
  }
  
  .arrowBtn {
    padding: 6px 12px;
    background-color: #ddd;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .arrowBtn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .ellipsis {
    padding: 6px 10px;
    color: #777;
  }
  
  @media screen and (max-width: 450px) {
    .pagination {
        justify-content: center;
        width: 100%;
    }
  }
  .searchContainer {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 20px 0;
    width: 82%;
    max-width: 1900px;
  }
  
  .inputWrapper {
    position: relative;
    max-width: 250px;
  }
  
  .searchInput {
    width: 100%;
    padding: 10px 15px 10px 35px; 
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .searchInput::placeholder {
    color: #888;
    font-style: italic;
  }
  .searchInput:hover {
    border-color: #bbb;
  }
  
  .searchIcon {
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    font-size: 12px; 
  }
  
  @media (max-width: 768px) {
    .searchContainer {
        justify-content: center;
    }
    .searchInput {
      width: 100%;
    }
  }
  
  
  /* Advanced Search Toggle */
.advancedSearchToggle {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 20px 0;
    width: 85%;
    max-width: 1900px;
    border: none;
    background: transparent;
    padding: 10px 20px;
    font-size: 14px;
    color: #000000b2;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    letter-spacing: 1px;

  }
  .advancedSearchContainer {
    overflow: hidden; 
    max-height: 0; 
    opacity: 0;
    transition: max-height 1s ease, opacity 1s ease; 
  }
  
  .advancedSearchContainer.visible {
    max-height: 500px; 
    opacity: 1; 
  }
